@model IEnumerable<Employees.Models.Database.EmployeeModel>

<table class="table">
    <tr>
        <th>Фамилия</th>
        <th>Имя</th>
        <th>Отчество</th>
        <th>Номер телефона</th>
        <th>Отдел</th>
        <th>Фото</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.LastName</td>
            <td>@item.FirstName</td>
            <td>@item.MiddleName</td>
            <td>@item.PhoneNumber</td>            
            <td>@item.DepartmentModel?.Name</td>
            <td>
                @if (item.Photo != null)
                {
                    <img src="data:image/jpeg;base64,@Convert.ToBase64String(item.Photo)" alt="Фото..." style="width:50px;height:50px;" />
                }
            </td>
            <td>
                <a asp-action="Edit" asp-controller="employee" method="post" asp-route-id="@item.Id">Изменить</a>
            </td>
            <td>
                <form asp-action="Delete" asp-controller="employee" method="post" asp-route-id="@item.Id">
                    <input type="submit" value="Удалить" />
                </form>
            </td>
        </tr>
    }
</table>